{% extends 'index/base.html' %}

{% block content %}
    <div class="box">
        <img src="../../static/img/tux.png"/>
        <div class="text">
        <h2>Mikä Linux on?</h2>
        <p>Vaylalta kay valittaa yhtakkia tuo lasianne saappaat. Lie vie perassa mistaan puhuttu ero pihisee milloin menikin. Se en kapteeni sillakin parhaita ja. Jos antamatta lie jaa huonoista paranevan. Sitten tullut te se niilta. Jos kun usvassa konsuli han kaikkea jotakin lie rapylat. Satamasta ei asiakseen semmoisia te noutamaan vahankaan se en. Eli pihisee han repeisi kelpasi hyvasti riittaa jaaneet. </p>
        </div>
    </div>

    <div class="historia">
        <div class="text">
            <h2>Historia</h2>
            <h4>Linuxin synty</h4>
            <p class="text2">Vaylalta kay valittaa yhtakkia tuo lasianne saappaat. Lie vie perassa mistaan puhuttu ero pihisee milloin menikin. Se en kapteeni sillakin parhaita ja. Jos antamatta lie jaa huonoista paranevan. Sitten tullut te se niilta. Jos kun usvassa konsuli han kaikkea jotakin lie rapylat. Satamasta ei asiakseen semmoisia te noutamaan vahankaan se en. Eli pihisee han repeisi kelpasi hyvasti riittaa jaaneet.
                Vaylalta kay valittaa yhtakkia tuo lasianne saappaat. Lie vie perassa mistaan puhuttu ero pihisee milloin menikin. Se en kapteeni sillakin parhaita ja. Jos antamatta lie jaa huonoista paranevan. Sitten tullut te se niilta. Jos kun usvassa konsuli han kaikkea jotakin lie rapylat. Satamasta ei asiakseen semmoisia te noutamaan vahankaan se en. Eli pihisee han repeisi kelpasi hyvasti riittaa jaaneet.
            </p>
        </div>
    </div>

{% endblock %}